{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}/syllabus/intro" role="button">Read the syllabus!</a>
      <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Instructor 👩🏻‍🏫</h2>
        <p>Dr. <a href="https://www.monicathieu.com">Monica Thieu</a> (she/her)</p>
        <p><a href="mailto:monica.thieu@columbia.edu">Email me</a> / <a href="https://calendar.google.com/calendar/u/0/selfsched?sstoken=UUg4dWxkQ3ZsQTFWfGRlZmF1bHR8Y2VmM2FiMzUyMmEyMjlhYzk1MTRiMzI1NGE2YzhjZjM">Book office hours</a></p>
        <p></p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Date/Time 🕜️</h2>
        <p>Monday & Wednesday 2:40-3:55 pm</p>
        <p>(hypothetically)</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Location 🏫</h2>
        <p>Classroom TBD</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Intentional</h2>
        <p>Course logistics will be integrated into this website, making it a one-stop-shop for students.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Innovative ⚡️</h2>
        <p>This course website is maintained using R!</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Implementable</h2>
        <p>The website is easy to update and is accessible to the public.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
